<log4net>
    <root>
        <level value="ALL" />
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>
    <appender name="console" type="log4net.Appender.ManagedColoredConsoleAppender">
        <mapping>
            <level value="ERROR" />
            <foreColor value="Red" />
            <backColor value="Black" />
        </mapping>
        <mapping>
            <level value="WARN" />
            <foreColor value="Yellow" />
            <backColor value="Black" />
        </mapping>
        <mapping>
            <level value="INFO" />
            <foreColor value="Cyan" />
            <backColor value="Black" />
        </mapping>
        <mapping>
            <level value="DEBUG" />
            <foreColor value="Green" />
            <backColor value="Black" />
        </mapping>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date %level %logger - %message%newline" />
        </layout>
    </appender>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
        <file value="PubSubIpc.log" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="5" />
        <maximumFileSize value="10MB" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
        </layout>
    </appender>
</log4net>